* {
    list-style: none;

    margin: 0px;

}

body {
    color: white;
}

header {
    background-color: black;

    h1 {
        font-size: 60px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        padding: 40px;

        a,
        p,
        li {
            text-decoration: none;
            color: white;
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            list-style: none;
            text-decoration: underline;
        }
    }

}

#yak {

    padding-top: 60px;
    padding-bottom: 120px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .groupe {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;

        .kim {
            padding-bottom: 20px;
            font-weight: bold;
        }

        a {
            font-size: 17px;
            margin: 0px;
            padding: 20px 30px;
            width: 160px;
            color: hsl(0, 0%, 0%);
            background-color: white;
            text-decoration: none;
        }
    }
}

.container {
    margin: auto;
    width: 1000px;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;

    .padding-b {
        padding-bottom: 40px;
        padding-top: 40px;
    }

}

.hero {
    display: flex;
    justify-content: center;
    gap: 185px;

    img {
    margin-bottom: 10px;
}
}

.bg-w {
    background-color: white;
    color: rgb(39, 39, 39);

}

#photo .container {
    display: flex;
    justify-content: space-around;

}

.padding-b {
    padding-bottom: 60px;
    padding-top: 60px;
}

.card {
    width: 300px;

    img {
        width: 200px;
     margin-bottom: 20px;
    }
}

h3{
margin-bottom: 10px;

}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

.cardTemoignages {
    width: 200px;
    background-color: #F3F3F3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.fin {
    display: flex;
    gap: 20px;

    p {
        padding: 7px;
    }

}

.profil {
    width: 50px;
    height: 50px;
}

footer {
display: flex;
flex-wrap: wrap;
}

.icone {
    color: white;
    gap: 80px;
    padding-bottom: 20px;


}

.enfin {
    display: flex;
    flex-wrap: wrap;
}


button {
    width: 140px;
    height: 40px;
}

input {
    width: 300px;
    height: 40px;

}

form {
    width: 650px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dernier {
    display: grid;
    grid-gap: 20px;
    justify-content: end;
}