


* {
    list-style: none;

    margin: 0px;

}

body {
    color: white;
}

header {
    background-color: black;

    h1 {
        font-size: 60px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        padding: 40px;

        a,
        p,
        li {
            text-decoration: none;
            color: white;
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            list-style: none;
            text-decoration: underline;
        }
    }

}

#yak {

    padding-top: 60px;
    padding-bottom: 120px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .groupe {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;

        .kim {
            padding-bottom: 20px;
            font-weight: bold;
        }

        a {
            font-size: 17px;
            margin: 0px;
            padding: 20px 30px;
            width: 160px;
            color: black;
            background-color: white;
            text-decoration: none;
        }
    }
}

.container {

    margin: auto;
    width: 1000px;


}
 h2 {
        text-align: center;
        padding-bottom: 40px;
        font-size: 30px;
    }

.hero {
    display: flex;
    justify-content: center;
    gap: 185px;
}

.bg-w {
    background-color: white;
    color: black;


}

#photo .container {
    display: flex;
    justify-content: space-around;

}

.padding-b {
    padding-bottom: 100px;
    padding-top: 100px;
}

.card {
width: 300px;
    img {
        width: 200px;
    }


}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

.cardTemoignages{
    width: 200px;
    background-color: #F3F3F3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fin{
    display: flex;
    gap: 20px;
    p{
        padding: 7px;
    }
    
}

.profil {
    width: 50px;
    height: 50px;
}
footer{
   flex-wrap: wrap;
 
}
.icone{
    color: white;
    gap: 80px;
    padding-bottom: 20px;
    padding: 30px;
   
}
form{
    width: 650px;
    padding-bottom: 5px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   

}
.enfin{
    display: flex;
   flex-wrap: wrap;
}


button{
  width: 90px;  
}
input{
    width: 200px;
    height: 40px;

}
